html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
}

nav div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 500ms ease;
}

nav a:hover {
    color: #1573b1;
    transition: 500ms ease;
}

nav img {
    width: 40px;
}

nav p {
    margin: 0;
    color: white;
}

.hidden {
    visibility: hidden;
}

.container {
    margin: 5vh 20vw;
    display: grid;
    gap: 20px;
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-2 .xxl {
    font-size: 57px;
}

.card {
    background-color: #111111;
    width: 100%;
    height: 30ch;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    box-sizing: border-box;
    text-decoration: none;
    transition: 500ms ease;
}

.card img {
    max-width: 100%;
    min-width: 100%;
}

.card-text {
    width: 100%;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.card p {
    margin: 0;
    color: white;
    transition: 500ms ease;
}

.card:hover p:not(.card-type) {
    color: #1573b1;
    transition: 500ms ease;
}

.card:hover {
    box-shadow: 8px 8px #1573b1bb;
    transition: 500ms ease;
}

p.card-type {
    color: #c9c9c9;
}

fieldset {
    width: fit-content;
    border-radius: 5px;
}

.container-login,
.container-edita,
.container-elimina,
.container-aniadeP,
.container-actualizaP {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-login,
.card-edita,
.card-elimina,
.card-aniadeP,
.card-actualizaP {
    width: fit-content;
    background-color: #111111;
    border-radius: 10px;
    margin: 20px;
    padding: 20px 40px 20px 40px;
    color: white;
    transition: 500ms ease;
}

.card-login:hover,
.card-edita:hover,
.card-elimina:hover,
.card-aniadeP:hover,
.card-actualizaP:hover {
    box-shadow: 8px 8px #1573b1bb;
    transition: 500ms ease;
}

.card-login input,
.card-edita input,
.card-elimina input,
.card-aniadeP input,
.card-actualizaP input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.card-login form,
.card-edita,
.card-elimina,
.card-aniadeP,
.card-actualizaP {
    justify-items: center;
}

.card-login p {
    margin-top: 0;
}

.card-login a {
    text-decoration: none;
    color: white;
    transition: 500ms ease;
}

.card-login a:hover {
    color: #1573b1;
    transition: 500ms ease;
}

.titulo {
    font-size: 1.8em;
}

.crearCuenta,
.existeCuenta {
    padding-top: 30px;
    font-size: 0.9em;
}


